{% extends 'administrator/base.html' %}
{% load crispy_forms_tags %}
{% block aside %}
{% endblock %}

{% block body %}

<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-3" >


 
    
<form method="post">
  {% csrf_token %}
  {{form|crispy}}
  <button type="submit" class="btn btn-primary ">Login</button> 

          <hr>

          <div class="registration">
            Don't have an account yet?<br/>
            <a class="" href="{% url 'users:register' %}">
              Create an account
              </a>
          </div>


  </form>
    
  


    </div>  
  </div>
</div>

</body>

{% endblock %}